// Variabler för ljust läge
$color-bg: #FFFBF5;    // varm vanilj
$color-main: #FFFFFF;          // Vit 
$color-text: #433422;          // Mörkbrun
$color-accent: #E67E22;        // Saffran
$color-header: #FDF0D5;        // Smörkola

// Variabler för mörkt läge
$color-dark-bg: #2D241E;       // Mörk choklad
$color-dark-text: #FDF0D5;     // Smörkola
$color-dark-header: #3E3028;   // Mellanbrun
$color-dark-accent: #D35400;   // Roströd

//Textvariabel
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//Mixin standard för mina bilder
@mixin standard-image() { 
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@mixin corner-style($round-corner) {
  @if $round-corner {
    border-radius: 50px; // Runda hörn 
  } @else {
    border-radius: 8px;  // Lätt rundade hörn
  }
}

//Mixin standard för knappar

@mixin button-style {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  }