@use 'sass:color';

@use 'base';

@use 'layout';

//Nästlar nav
nav { 
  display: flex;
  gap: 1.8rem;
  position: relative; //Försöker få fram min cursor pointer
  z-index: 999; //Försöker få fram min cursor pointer
 
a {
  color: base.$color-text;
  text-decoration: none;
  font-size: 1.1rem;
  display: inline-block;
  transition: transform 1s ease, color 1s ease; //mjuk inzoomning under 1sekund
  cursor: pointer !important;
  
&:hover {
  text-decoration: underline;
  color: color.scale(base.$color-text, $lightness: 20%); 
  transform: scale(1.5); //inzoomning 5% vid hover
  
}

&.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}
}
}

.hamburger {
  display: none; /* Dold som standard på desktop */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: base.$color-text;
  margin-left: auto;
}


.recipe-btn {
  @include base.button-style;
  text-decoration: none;
  display: inline-block;
  background-color: base.$color-Btn;
  color: base.$color-text;
  font-weight: normal;
  cursor: pointer !important;
  
  
  &:hover {
    background-color: color.scale(base.$color-Btn, $lightness: -10.9913793103%); //Mörkare vid hover
    
  }
}

#searchBtn {
  @include base.button-style;
  text-decoration: none;
  display: inline-block;
  background-color: base.$color-Btn;
  color: base.$color-text;
  transition: all 0.3s ease-in-out; //tiden för animationen
  cursor: pointer !important;

  &:hover {
    background-color: color.scale(base.$color-Btn, $lightness: -10.9913793103%); //Mörkare vid hover
    transform: translateY(-2px); //Flyttar knappen två pixlar uppåt
  
  }
}



