@use 'sass:color';

@use 'base';

@use 'layout';

//Nästlar nav
nav { 
  display: flex;
  gap: 1.8rem;
 
a {
  color: base.$color-text;
  text-decoration: none;
  font-size: 1.1rem;
  
&:hover {
  text-decoration: underline;
  color: color.scale(base.$color-text, $lightness: 20%); //color functions lighten
 
}

&.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}
}
}

.hamburger {
  display: none; /* Dold som standard på desktop */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: base.$color-text;
  margin-left: auto;
}


.recipe-btn {
  @include base.button-style;
  text-decoration: none;
  display: inline-block;
  background-color: base.$color-Btn;
  color: base.$color-text;
  font-weight: normal;
  
  &:hover {
    background-color: color.scale(base.$color-Btn, $lightness: -10.9913793103%)
  }
}

#searchBtn {
  @include base.button-style;
  text-decoration: none;
  display: inline-block;
  background-color: base.$color-Btn;
  color: base.$color-text;
  background-color: color.scale(base.$color-Btn, $lightness: -10.9913793103%);
  transition: all 0.3s ease-in-out; //tiden för animationen

  &:hover {
    background-color: color.adjust(base.$color-Btn, $lightness: 2%);  //justerar färgen till 2% ljusare
    transform: translateY(-2px); //Flyttar knappen två pixlar uppåt
  
  }
}



