@use 'base';

.ikonHeader {
  max-height: 150px;
  width: auto;
}

.favoriter {
  padding: 40px 20px;
  text-align: center;

  h2 {
    color: base.$color-text;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.favorit-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.ikon-container {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
    transition: transform 1s ease;
    cursor: pointer !important; 

    &:hover {
      transform: scale(1.1) translateY(-10px);
    }
  }
}

.baklänk {
  text-decoration: none;
  color: base.$color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  cursor: pointer !important; // 
}

.ikon-sektion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
    cursor: pointer !important; 
  }
}