@use 'sass:color';
@use 'base';
@use 'animations';


//Inheritance mall för knappar

%button-style {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  }

  .info-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Tre kolumner
    gap: 2rem;      
    margin-top: 3rem;
    padding: 1rem;
  }

  #recipeHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr); //3 kolumner desktop vy
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto; //Centrerar grid
    text-align: center;
  }

.recipeCard img {
@include base.standard-image();

  
//&:hover {
   
} 





header {
  background-color: base.$color-header;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



footer {
  padding: 1.89rem 2.5rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 1rem;
 background-color: base.$color-header;
 margin-top: 3rem;
 
}

.footer-info p {
 margin-bottom: 0.5rem;
 font-size: 1rem;
 text-align: left;
}

@media (max-width: 900px) {
}
 

@media (max-width: 768px) {
  
  /* Header och hamburgermeny */
  header {
    flex-wrap: wrap;
    padding: 1rem 1.25rem; 
  }
  
  .hamburger {
    display: block; 
  }
  
  /* Göm menyn tills man klickar */
  nav {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0;
    margin-left: 0; 
    
  }
  
  nav.active {
    display: flex;
  }
  
  nav a {
    padding: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    text-align: center;
    
  }


  /* Footer staplas */
  footer {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem 1rem;
  }
  .min-logga {
    width: 12rem;
  }
}
;
